Ejercicio 1.C
Siguiendo con el DataFrame anterior:

In [95]:
from sklearn.datasets import load_iris
import pandas as pd

sample_data_flowers = load_iris()
columns = sample_data_flowers.feature_names
# print(dir(sample_data_flowers))
# print(sample_data_flowers.data)

data_frame_flowers: pd.DataFrame = pd.DataFrame(sample_data_flowers.data, columns=columns)
data_frame_flowers['flower type'] = sample_data_flowers.target

Imprime por pantalla el nombre de las columnas como un array

In [96]:
print(data_frame_flowers.columns.values)

['sepal length (cm)' 'sepal width (cm)' 'petal length (cm)'
 'petal width (cm)' 'flower type']

Imprime por pantalla el nombre de la primera columna

In [97]:
print(f"The name of the first column is {data_frame_flowers.columns[0]}")

The name of the first column is sepal length (cm)

Imprime por pantalla el número de columnas que hay.

In [98]:
print(f"The number of columns is {len(data_frame_flowers.columns)}")

The number of columns is 5

Cambia el nombre de la columna “tipo_flor” por el de “target”

In [99]:
data_frame_flowers.rename(columns={'flower type': "target"}, inplace=True)

Mueve la columna “target” al final del DataFrame

In [100]:
data_frame_flowers = data_frame_flowers.reindex(
    columns=["sepal length (cm)", "sepal width (cm)", "petal length (cm)", "petal width (cm)", "target"])

Inserta una nueva columna que sea el área del pétalo. Deberás insertarla antes de la última columna.

In [101]:
data_frame_flowers.insert(len(data_frame_flowers.columns) - 1, "petal area (cm2)",
                          data_frame_flowers["petal length (cm)"] * data_frame_flowers["petal width (cm)"])
data_frame_flowers.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal area (cm2),target
0,5.1,3.5,1.4,0.2,0.28,0
1,4.9,3.0,1.4,0.2,0.28,0
2,4.7,3.2,1.3,0.2,0.26,0
3,4.6,3.1,1.5,0.2,0.30,0
4,5.0,3.6,1.4,0.2,0.28,0

Inserta una nueva columna que sea el área del sépalo. Deberás insertarla antes de la última columna.

In [102]:
data_frame_flowers.insert(len(data_frame_flowers.columns) - 1, "sepal area (cm2)",
                          data_frame_flowers["sepal length (cm)"] * data_frame_flowers["sepal width (cm)"])
data_frame_flowers.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal area (cm2),sepal area (cm2),target
0,5.1,3.5,1.4,0.2,0.28,17.85,0
1,4.9,3.0,1.4,0.2,0.28,14.70,0
2,4.7,3.2,1.3,0.2,0.26,15.04,0
3,4.6,3.1,1.5,0.2,0.30,14.26,0
4,5.0,3.6,1.4,0.2,0.28,18.00,0