Ejercicio 1.A
Crea un DataDrame con los datos que proporciona load_iris. Recuerda que la propiedad feature_names retorna los nombres. La columna de los tipos de flor la debes llamar tipo_flor

In [60]:
from sklearn.datasets import load_iris
import pandas as pd

sample_data_flowers = load_iris()
columns = sample_data_flowers.feature_names
# print(dir(sample_data_flowers))
# print(sample_data_flowers.data)

data_frame_flowers: pd.DataFrame = pd.DataFrame(sample_data_flowers.data, columns=columns)
data_frame_flowers['flower type'] = sample_data_flowers.target

Grábalo a disco y mira el fichero resultante.

In [61]:
data_frame_flowers.to_csv("flowers.csv", index=False)

Ahora prueba a cargarlo

In [62]:
data_frame_loaded = pd.read_csv("flowers.csv", sep=",")
data_frame_loaded.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower type
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

Grábalo a disco con otro nombre pero ahora sin el parámetro index=False y mira la diferencia con el anterior fichero.

In [63]:
data_frame_flowers.to_csv("flowers_indexed.csv")

Ahora prueba a cargarlo

In [64]:
data_frame_indexed_loaded = pd.read_csv("flowers_indexed.csv", sep=",")
data_frame_indexed_loaded.head()

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower type
0,0,5.1,3.5,1.4,0.2,0
1,1,4.9,3.0,1.4,0.2,0
2,2,4.7,3.2,1.3,0.2,0
3,3,4.6,3.1,1.5,0.2,0
4,4,5.0,3.6,1.4,0.2,0

Muestra el nombre de las columnas y los tipos de datos de cada una de ellas.

In [65]:
print(data_frame_flowers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   flower type        150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB
None

Imprime por pantalla “El nº de número de características es: NNNNN y el número de muestras es: NNNNNN”

In [66]:
data_frame_flowers_shape: tuple = data_frame_flowers.shape
print(
    f"El nº de número de características es: {data_frame_flowers_shape[1]} y el número de muestras es: {data_frame_flowers_shape[0]}"
)

El nº de número de características es: 5 y el número de muestras es: 150

Imprime por pantalla las primeras filas

In [67]:
data_frame_flowers.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower type
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

Imprime por pantalla las últimas filas

In [68]:
data_frame_flowers.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower type
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

¿Cuánto ocupa en memoria el DataFrame?

In [69]:
print(f"El dataframe ocupa {data_frame_flowers.memory_usage(index=True).sum()} bytes en memoria.")

El dataframe ocupa 5532 bytes en memoria.