Ejercicio 1.C
Siguiendo con el DataFrame anterior:

In [78]:
from sklearn.datasets import load_iris
import pandas as pd

In [87]:
iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['tipo_flor'] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Imprime por pantalla el nombre de las columnas como un array

In [80]:
df.columns.tolist()

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'tipo_flor']

Imprime por pantalla el nombre de la primera columna

In [81]:
df.columns.tolist()[0]

'sepal length (cm)'

Imprime por pantalla el número de columnas que hay.

In [82]:
df.shape[1]

5

Cambia el nombre de la columna "tipo_flor" por el de "target"

In [83]:
df.rename(columns={'tipo_flor': 'target'}, inplace=True)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Mueve la columna "target" al final del DataFrame

In [84]:
df = df.reindex(columns=['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'target'])

Inserta una nueva columna que sea el área del pétalo. Deberás insertarla antes de la última columna.

In [88]:
petal_area = df['petal length (cm)'] * df['petal width (cm)']
df.insert(df.shape[1] - 1, 'petal_area', petal_area)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal_area,tipo_flor
0,5.1,3.5,1.4,0.2,0.28,0
1,4.9,3.0,1.4,0.2,0.28,0
2,4.7,3.2,1.3,0.2,0.26,0
3,4.6,3.1,1.5,0.2,0.30,0
4,5.0,3.6,1.4,0.2,0.28,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,11.96,2
146,6.3,2.5,5.0,1.9,9.50,2
147,6.5,3.0,5.2,2.0,10.40,2
148,6.2,3.4,5.4,2.3,12.42,2
149,5.9,3.0,5.1,1.8,9.18,2

Inserta una nueva columna que sea el área del sépalo. Deberás insertarla antes de la última columna.

In [89]:
sepal_area = df['sepal length (cm)'] * df['sepal width (cm)']
df.insert(df.shape[1] - 1, 'sepal_area', sepal_area)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal_area,sepal_area,tipo_flor
0,5.1,3.5,1.4,0.2,0.28,17.85,0
1,4.9,3.0,1.4,0.2,0.28,14.70,0
2,4.7,3.2,1.3,0.2,0.26,15.04,0
3,4.6,3.1,1.5,0.2,0.30,14.26,0
4,5.0,3.6,1.4,0.2,0.28,18.00,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,11.96,20.10,2
146,6.3,2.5,5.0,1.9,9.50,15.75,2
147,6.5,3.0,5.2,2.0,10.40,19.50,2
148,6.2,3.4,5.4,2.3,12.42,21.08,2
149,5.9,3.0,5.1,1.8,9.18,17.70,2