Ejercicio 1.D
Siguiendo con el DataFrame anterior imprime por pantalla:

El ancho del sépalo de las flores de tipo "1"
Indica los tipos de flores que hay.
Indica cuantos valores de la columna "target" son "null"
Indicar cuantos valores del DataFrame son "null"
¿Como se borrarían aquellas filas que tienen algún datos que es null?

In [26]:
from sklearn.datasets import load_iris
import pandas as pd

In [27]:
iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['tipo_flor'] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

El ancho del pétalo de las flores de tipo "0" pero cuyo largo del pétalo sea entre [1.3,1.9]

In [28]:
df[(df['tipo_flor'] == 0) & ((df['petal length (cm)'] >= 1.3) & (df['petal length (cm)'] <= 1.9))]['petal width (cm)']

0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    0.4
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal width (cm), dtype: float64

El ancho del sépalo de las flores de tipo "1"

In [29]:
df[df['tipo_flor'] == 1]['sepal width (cm)']

50    3.2
51    3.2
52    3.1
53    2.3
54    2.8
55    2.8
56    3.3
57    2.4
58    2.9
59    2.7
60    2.0
61    3.0
62    2.2
63    2.9
64    2.9
65    3.1
66    3.0
67    2.7
68    2.2
69    2.5
70    3.2
71    2.8
72    2.5
73    2.8
74    2.9
75    3.0
76    2.8
77    3.0
78    2.9
79    2.6
80    2.4
81    2.4
82    2.7
83    2.7
84    3.0
85    3.4
86    3.1
87    2.3
88    3.0
89    2.5
90    2.6
91    3.0
92    2.6
93    2.3
94    2.7
95    3.0
96    2.9
97    2.9
98    2.5
99    2.8
Name: sepal width (cm), dtype: float64

Indica los tipos de flores que hay.

In [30]:
df['tipo_flor'].unique()

array([0, 1, 2])

Indica cuantos valores de la columna "target" son "null"

In [31]:
df['tipo_flor'].isnull().sum()

0

Indicar cuantos valores del DataFrame son "null"

In [32]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
tipo_flor            0
dtype: int64

¿Como se borrarían aquellas filas que tienen algún datos que es null?

In [33]:
df = df.dropna()
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2