Ejercicio 1.A
Crea un DataDrame con los datos que proporciona load_iris. Recuerda que la propiedad feature_names retorna los nombres. La columna de los tipos de flor la debes llamar tipo_flor

In [23]:
from sklearn.datasets import load_iris
import pandas as pd

In [24]:
iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['tipo_flor'] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

- Grábalo a disco y mira el fichero resultante.
     - Ahora prueba a cargarlo

In [25]:
df.to_csv('iris.csv', index=False)
df_read = pd.read_csv('iris.csv')
df_read

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

- Grábalo a disco con otro nombre pero ahora sin el parámetro index=False y mira la diferencia con el anterior fichero.
     - Ahora prueba a cargarlo

In [26]:
df.to_csv('iris_indexed.csv')
df_indexed_read = pd.read_csv('iris_indexed.csv')
df_indexed_read

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,0,5.1,3.5,1.4,0.2,0
1,1,4.9,3.0,1.4,0.2,0
2,2,4.7,3.2,1.3,0.2,0
3,3,4.6,3.1,1.5,0.2,0
4,4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,2
146,146,6.3,2.5,5.0,1.9,2
147,147,6.5,3.0,5.2,2.0,2
148,148,6.2,3.4,5.4,2.3,2
149,149,5.9,3.0,5.1,1.8,2

- Muestra el nombre de las columnas y los tipos de datos de cada una de ellas.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   tipo_flor          150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

- Imprime por pantalla "El nº de número de características es: NNNNN y el número de muestras es: NNNNNN"

In [28]:
print(f"El nº de número de características es: {df.shape[1] - 1} y el número de muestras es: {df.shape[0]}")

El nº de número de características es: 4 y el número de muestras es: 150

- Imprime por pantalla las primeras filas

In [29]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

- Imprime por pantalla las últimas filas

In [30]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),tipo_flor
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

- ¿Cuando ocupa en memoria el DataFrame?

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   tipo_flor          150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB