Ejercicio 2.A

Descarga el siguiente fichero tiempos_red_neuronal.csv que contiene los segundos que ha tardado en entrenarse una red neuronal según el nº de épocas y la función de activación usada

In [20]:
import pandas as pd

Abre el fichero con un editor de texto y comprueba que formato tiene

Carga el fichero con pandas

In [21]:
df = pd.read_csv('./tiempos_red_neuronal.csv', delimiter=',', index_col=0)
df

     funcion_activacion  talla       tiempo  desviacion
0                lineal   12.0   156.885412           0
1               sigmoid   12.0   160.744537           0
2                  tanh   12.0   158.876953           0
3                  relu   12.0   161.685764           0
4                  selu   12.0   160.904838           0
...                 ...    ...          ...         ...
2855                elu  299.0   826.975195           0
2856               gelu  299.0  1029.175865           0
2857              swish  299.0   843.051190           0
2858               mish  299.0   847.101631           0
2859              lisht  299.0   940.765748           0

[2860 rows x 4 columns]

Muestra las columnas que tiene

In [22]:
df.columns.tolist()

['funcion_activacion', 'talla', 'tiempo', 'desviacion']

Renombra la columna talla a epoca

In [23]:
df.rename(columns={'talla': 'epoca'}, inplace=True)
df

     funcion_activacion  epoca       tiempo  desviacion
0                lineal   12.0   156.885412           0
1               sigmoid   12.0   160.744537           0
2                  tanh   12.0   158.876953           0
3                  relu   12.0   161.685764           0
4                  selu   12.0   160.904838           0
...                 ...    ...          ...         ...
2855                elu  299.0   826.975195           0
2856               gelu  299.0  1029.175865           0
2857              swish  299.0   843.051190           0
2858               mish  299.0   847.101631           0
2859              lisht  299.0   940.765748           0

[2860 rows x 4 columns]

Muestra cuantas filas hay

In [24]:
df.shape[0]

2860

Muestra cuantos valores son null o NaN en cada columna

In [25]:
df.isnull().sum()

funcion_activacion    3
epoca                 3
tiempo                6
desviacion            0
dtype: int64

Muestra el % de valores a null o NaN en cada columna

In [26]:
df.isnull().sum() / df.shape[0] * 100

funcion_activacion    0.104895
epoca                 0.104895
tiempo                0.209790
desviacion            0.000000
dtype: float64

Borra las filas que tengan algún valor a null o NaN

In [27]:
df = df.dropna()
df

     funcion_activacion  epoca       tiempo  desviacion
0                lineal   12.0   156.885412           0
1               sigmoid   12.0   160.744537           0
2                  tanh   12.0   158.876953           0
3                  relu   12.0   161.685764           0
4                  selu   12.0   160.904838           0
...                 ...    ...          ...         ...
2855                elu  299.0   826.975195           0
2856               gelu  299.0  1029.175865           0
2857              swish  299.0   843.051190           0
2858               mish  299.0   847.101631           0
2859              lisht  299.0   940.765748           0

[2848 rows x 4 columns]

Muestra las estadísticas de cada columna. ¿Podrías borrar alguna? ¿Explica porqué? En caso afirmativo borra la columna

In [28]:
df.describe()

# Se puede borrar la columna desviacion porque siempre contiene el mismo valor

df = df.drop(columns=['desviacion'])
df

     funcion_activacion  epoca       tiempo
0                lineal   12.0   156.885412
1               sigmoid   12.0   160.744537
2                  tanh   12.0   158.876953
3                  relu   12.0   161.685764
4                  selu   12.0   160.904838
...                 ...    ...          ...
2855                elu  299.0   826.975195
2856               gelu  299.0  1029.175865
2857              swish  299.0   843.051190
2858               mish  299.0   847.101631
2859              lisht  299.0   940.765748

[2848 rows x 3 columns]

Indica que funciones de activación se han usado

In [29]:
df['funcion_activacion'].unique()

array(['lineal', 'sigmoid', 'tanh', 'relu', 'selu', 'elu', 'gelu',
       'swish', 'mish', 'lisht'], dtype=object)

Indica hasta cuantas épocas se ha entrenado la red

In [30]:
df['epoca'].max()

299.0

Indica la función de activación que ha tenido el mayor tiempo en la última época

In [39]:
last_epoch = df[df['epoca'] == df['epoca'].max()]
last_epoc_max_time = last_epoch[last_epoch['tiempo'] == last_epoch['tiempo'].max()]
last_epoc_max_time['funcion_activacion']

2856    gelu
Name: funcion_activacion, dtype: object